/* styling that affects everything, declare variables here to have global scope */
:root {
    /* text */
    --font-family: 'Gaegu', cursive;

    /* colors */
    --black: #000000;
    --darkest-gray: #090909;
    --darker-gray: #080808;
    --dark-gray: #202020;
    --gray: #888888;
    --light-gray: #BBBBBB;
    --lighter-gray: #DDDDDD;
    --lightest-gray: #EEEEEE; 

    --white: #FFFFFF;
    --ivory: #FFFFF0;
    --cream: #FFFDD0;
    --beige: #F5F5DC;
    --eggshell: #F0EAD6;

    --red: #FF0000;
    --coral: #FF7F50;
    --orange: #FFA500;
    --gold: #FFD700;
    --burlywood: #DEB887;
    --yellow: #FFFF00;
    --lime: #00FF00;
    --green: #008000;
    --emerald: #50C878;
    --cyan: #00FFFF;
    --baby-blue: #89CFF0;
    --sky-blue: #87CEEB;
    --navy-blue: #000080;
    --blue: #0000FF;
    --indigo: #4B0082;
    --violet: #A500FF;
    --purple: #800080;
    --magenta: #FF00FF;
    --pink: #FFC0CB;
    --hot-pink: #FF69B4;
    --cotton-candy: #FFBCD9;
    --light-coral: #F08080;
    --salmon: #FA8072;
    --maroon: #800000;
    --brown: #A52A2A;

    --deep-maroon: #820000;
    --brownish-red: #B41B1B;
    --dark-red: #A30000;
    --light-brown: #CC3737;
    --med-dark-red: #CC0000;
    --med-light-red: #D96B6B;
    --med-light-yellow: #D8C894;
    --cyan-blue: #008BFF;
    --med-light-cyan-blue: #40A8FF;
    --light-cyan-blue: #90CCFF;
    --light-magenta: #FFA5FF;
    --sepia: #F4ECD8;
    --light-pink-red: #FACED0;
    --dark-pink: #FF6781;

    /* dark theme default colors */
    --background-color: var(--dark-gray);
    --color: var(--lighter-gray);
    --label-highlight: var(--indigo);
    --theme-toggle: var(--gold);
    --theme-toggle-gradient: var(--orange);
    --theme-toggle-shadow: var(--orange);
    --egg-color: var(--eggshell);
    --egg-gradient: var(--med-light-yellow);
    --egg-shadow: var(--med-light-red);
    --easter-egg-color: var(--pink);
    --easter-egg-hor-stripe1: var(--hot-pink);
    --easter-egg-hor-stripe2: var(--yellow);
    --easter-egg-polkadot1: var(--yellow);
    --easter-egg-polkadot2: var(--orange);
    --easter-egg-diag-checker: var(--lime);
    --heart-color: var(--red);
    --sclera-color: var(--lighter-gray);
    --sclera-gradient: var(--light-gray);
    --eyeball-shadow: var(--deep-maroon);
    --iris-color: var(--blue);
    --iris-gradient: var(--cyan-blue);
    --iris-shadow: var(--navy-blue);
    --pupil-color: var(--black);
    --pupil-gradient: var(--dark-gray);
    --hex-heart-glow: var(--dark-pink);
}

/* light theme colors */
[data-theme="day"] {
    --background-color: var(--med-gray);
    --color: var(--near-black);
    --label-highlight: var(--magenta);
}

/* body styling */
body {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98vw;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--color);
}

main {
    width: inherit;
}

/* centers text and items */
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* takes up whole screen like table column */
/* choices is one row at top */
/* button is one row at bottom that takes up remaining space */
#entire-screen {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin: 0rem;
    padding: 0rem;
    display: table;
    z-index: 42;
}

/* style the user choices (radio inputs and theme toggle) */
#user-choices {
    display: table-row;
    border-collapse: collapse;
    width: 100%;
    height: 3rem;
    justify-content: space-between;
}

/* style the radio choices text */
#choices-radio {
    font-weight: bold;
    font-size: 2rem;
}

/* hide the radio buttons */
#input-eye, #input-heart, #input-egg {
    width: 0rem;
    height: 0rem;
    margin: 0rem;
}

/* style the radio input labels when radio button is checked */
#choices-radio input[type="radio"]:checked + label {
    background-color: var(--label-highlight);
}

/* styling for full-screen button */
#click-for-eye-heart-egg {
    display: table-row;
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;
    opacity: 0;
}

/* THEME TOGGLE */

/* div that holds the theme toggle checkbox and label */
#theme-toggle-wrapper {
    display: inline-block;
    position: relative;
    width: 2rem;
    height: 2rem;
}

#themeCheckbox {
    width: 0%;
    height: 0%;
    padding: 0rem;
    margin: 0rem;
}

/* label for the theme toggle checkbox */
#theme-label {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 0rem;
}

/* div that changes appearance as theme is toggled */
/* in default dark theme this is golden and orange circle for sun */
#theme-toggle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--theme-toggle);
    background-image: radial-gradient(var(--theme-toggle-gradient), var(--theme-toggle));
}

/* in default dark theme this is orange glow for sun */
/* box-shadow: offset-x offset-y blur-radius spread-radius color, inset offset-x offset-y color */
#theme-toggle:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0rem 0rem 0.5rem 0.125rem var(--theme-toggle-shadow);
}

/* style the theme toggle checkbox label when checkbox is checked */
#theme-toggle-wrapper input[type="checkbox"]:checked + #theme-label #theme-toggle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--blue);
}

/* CSS art container styling */
#basket {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border: none;
    margin-top: 3rem;
}

/* div container style for eye, heart, or egg */
.eye-box, .heart-box, .egg-box {
    background: none;
    border: none;
    box-shadow: none;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    z-index: -1;
}

/* EYE */

/* eyeball sclera */
.eyeball {
    position: absolute;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--sclera-color);
    background: -moz-linear-gradient(225deg, var(--sclera-color) 0%, var(--sclera-gradient) 90%);
    background: -webkit-linear-gradient(225deg, var(--sclera-color) 0%, var(--sclera-gradient) 90%);
    background: linear-gradient(225deg, var(--sclera-color) 0%, var(--sclera-gradient) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--sclera-color),endColorstr=var(--sclera-gradient),GradientType=1);
}

/* eyeball shadow */
/* box-shadow: offset-x offset-y blur-radius spread-radius color, inset offset-x offset-y color */
.eyeball-shadow {
    position: absolute;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.75;
    background-color: transparent;
    box-shadow:
        inset 0rem 0rem 0.5rem var(--eyeball-shadow),
        0rem 0rem 0.5rem 0.0625rem var(--eyeball-shadow);
}

/* reflected light in eyeball */
/* box-shadow: offset-x offset-y blur-radius spread-radius color, inset offset-x offset-y color */
.eyeball-light {
    position: absolute;
    border-radius: 50%;
    background-color: var(--white);
    opacity: 0.75;
    height: 10%;
    width: 10%;
    right: 30%;
    top: 30%;
    box-shadow: 0rem 0rem 0.125rem 0.125rem var(--white);
}

/* iris of eyeball */
/* box-shadow: offset-x offset-y blur-radius spread-radius color, inset offset-x offset-y color */
/* box-shadow order: top left, top right, bottom right, bottom left */
.eyeball-iris {
    position: absolute;
    margin: 25%;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: var(--iris-color);
    background: -moz-linear-gradient(225deg, var(--iris-color) 0%, var(--iris-gradient) 90%);
    background: -webkit-linear-gradient(225deg, var(--iris-color) 0%, var(--iris-gradient) 90%);
    background: linear-gradient(225deg, var(--iris-color) 0%, var(--iris-gradient) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--iris-color),endColorstr=var(--iris-gradient),GradientType=1);
    box-shadow:
        inset 0.05rem 0.05rem 0.25rem var(--iris-shadow),
        inset -0.05rem 0.05rem 0.25rem var(--iris-shadow),
        inset 0.05rem -0.05rem 0.25rem var(--iris-shadow),
        inset -0.05rem -0.05rem 0.25rem var(--iris-shadow),
        0rem 0rem 0.0625rem 0.0625rem var(--iris-shadow);
}

/* pupil of eyeball */
.eyeball-pupil {
    position: absolute;
    margin: 30%;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    background-color: var(--pupil-color);
    background: -moz-linear-gradient(45deg, var(--pupil-color) 0%, var(--pupil-gradient) 90%);
    background: -webkit-linear-gradient(45deg, var(--pupil-color) 0%, var(--pupil-gradient) 90%);
    background: linear-gradient(45deg, var(--pupil-color) 0%, var(--pupil-gradient) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--pupil-color),endColorstr=var(--pupil-gradient),GradientType=1);
}

/* sclera of human eye, tilted 45deg */
.tilted-human-eye {
    height: 3.5rem;
    width: 3.5rem;
    transform: rotate(45deg);
    position: absolute;
    border-radius: 100% 0% 100% 0%;
    overflow: hidden;
    margin: 0.75rem;
    background-color: var(--sclera-color);
    background: -moz-linear-gradient(180deg, var(--sclera-color) 0%, var(--sclera-gradient) 75%);
    background: -webkit-linear-gradient(180deg, var(--sclera-color) 0%, var(--sclera-gradient) 75%);
    background: linear-gradient(180deg, var(--sclera-color) 0%, var(--sclera-gradient) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--sclera-color),endColorstr=var(--sclera-gradient),GradientType=1);
}

/* box shadow for human eye, tilted 45deg */
/* box-shadow: offset-x offset-y blur-radius spread-radius color, inset offset-x offset-y color */
.human-eye-shadow {
    height: 3.5rem;
    width: 3.5rem;
    transform: rotate(45deg);
    position: absolute;
    border-radius: 100% 0% 100% 0%;
    overflow: hidden;
    margin: 0.75rem;
    background-color: transparent;
    opacity: 0.75;
    box-shadow:
        inset 0rem 0rem 0.5rem var(--eyeball-shadow),
        0rem 0rem 0.5rem 0.0625rem var(--eyeball-shadow);
}

/* reflected light in human eye */
/* box-shadow: offset-x offset-y blur-radius spread-radius color, inset offset-x offset-y color */
.human-eye-light {
    position: absolute;
    border-radius: 50%;
    width: 10%;
    height: 10%;
    background-color: var(--white);
    opacity: 0.75;
    top: 25%;
    left: 45%;
    box-shadow: 0rem 0rem 0.065rem 0.065rem var(--white);
}

/* HEART */

/* box to hold square and circles that make up heart, tilted 45deg */
.tilted-heart {
    transform: rotate(45deg);
    position: absolute;
    height: 4.5rem;
    width: 4.5rem;
    margin: -0.625rem 0.25rem 0.25rem 0.25rem;
    overflow: hidden;
}

/* circles and square of heart */
.heart-circle-one, .heart-circle-two, .heart-square {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--heart-color);
}

/* circles of heart */
.heart-circle-one, .heart-circle-two {
    border-radius: 50%;
}

/* position first circle of heart */
.heart-circle-one {
    right: 0%;
    top: 0%;
}

/* position second circle of heart */
.heart-circle-two {
    left: 0%;
    bottom: 0%;
}

/* position square of heart */
.heart-square {
    right: 0%;
    bottom: 0%;
}

/* heart using hex code */
.hex-heart {
    color: var(--heart-color);
    font-size: 4rem;
    text-shadow: 0rem 0rem 1rem var(--hex-heart-glow);
}

/* ascii heart */
.ascii-heart::before {
    content: '\2764';
    color: var(--heart-color);
    font-size: 5rem;
}

/* div to hold tutorial heart */
.tutorial-heart-box {
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0.25rem 0.375rem 0.25rem 0.125rem;
}

/* the CSS heart from tutorial */
/* the tilted square for bottom of heart */
.tutorial-heart {
    position: absolute;
    transform: rotate(45deg);
    background-color: var(--heart-color);
    width: 3rem;
    height: 3rem;
    bottom: 12.5%;
    right: 12.5%;
}

/* the circles for top of heart */
.tutorial-heart::before,
.tutorial-heart::after {
    content: '';
    background-color: var(--heart-color);
    width: 3rem;
    height: 3rem;
    position: absolute;
    border-radius: 50%;
}

/* top left circle of heart */
.tutorial-heart::before {
    top: 0%;
    right: 50%;
}

/* top right circle of heart*/
.tutorial-heart::after {
    top: -50%;
    left: 0%;
}

/* heart out of 2 water drop shapes, tilted 22.5deg */
.rounded-heart {
    position: absolute;
    height: 4rem;
    width: 4rem;
    margin: 0.5rem;
}

/* left side upside down water drop shape for heart */
.heart-drop-left {
    width: 3rem;
    height: 3rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 75%;
    border-bottom-left-radius: 75%;
    background-color: var(--heart-color);
    position: absolute;
    left: -7%;
    bottom: 15%;
    transform: rotate(22.5deg);
}

/* right side upside down water drop shape for heart */
.heart-drop-right {
    width: 3rem;
    height: 3rem;
    border-top-left-radius: 75%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 75%;
    background-color: var(--heart-color);
    position: absolute;
    right: -7%;
    bottom: 15%;
    transform: rotate(-22.5deg);
}

/* EGG */

/* egg div styling */
.egg {
    width: 4rem;
    height: 5rem;
    position: absolute;
    margin: 0rem 0.5rem 0rem 0.5rem;
}

/* outer div of top of egg */
.egg-top-outer {
    position: absolute;
    top: 0%;
    width: 4rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

/* outer div of bottom of egg */
.egg-bottom-outer {
    position: absolute;
    bottom: 0%;
    width: 4rem;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

/* inner div of top of egg */
.egg-top-inner {
    position: absolute;
    top: 0%;
    width: 4rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--egg-color);
    background: -moz-radial-gradient(circle, var(--egg-color) 0%, var(--egg-gradient) 75%);
    background: -webkit-radial-gradient(circle, var(--egg-color) 0%, var(--egg-gradient) 75%);
    background: radial-gradient(circle, var(--egg-color) 0%, var(--egg-gradient) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--egg-color),endColorstr=var(--egg-gradient),GradientType=1);
}

/* div for box-shadow of top of egg */
/* box-shadow: offset-x offset-y blur-radius spread-radius color, inset offset-x offset-y color */
/* box-shadow order: top left, top right, bottom right, bottom left */
.egg-top-shadow {
    position: absolute;
    top: 0%;
    width: 4rem;
    height: 6rem;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.5;
    box-shadow:
        inset 0.5rem 0.5rem 1rem var(--egg-shadow),
        inset -0.5rem 0.5rem 1rem var(--egg-shadow),
        inset 0.5rem -0.5rem 1rem var(--egg-shadow),
        inset -0.5rem -0.5rem 1rem var(--egg-shadow);
}

/* inner div of bottom of egg */
.egg-bottom-inner {
    position: absolute;
    bottom: 0%;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--egg-color);
    background: -moz-radial-gradient(circle, var(--egg-color) 0%, var(--egg-gradient) 75%);
    background: -webkit-radial-gradient(circle, var(--egg-color) 0%, var(--egg-gradient) 75%);
    background: radial-gradient(circle, var(--egg-color) 0%, var(--egg-gradient) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--egg-color),endColorstr=var(--egg-gradient),GradientType=1);
}

/* div for box-shadow of bottom of egg */
/* box-shadow: offset-x offset-y blur-radius spread-radius color, inset offset-x offset-y color */
/* box-shadow order: top left, top right, bottom right, bottom left */
.egg-bottom-shadow {
    position: absolute;
    bottom: 0%;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    opacity: 0.5;
    background-color: transparent;
    box-shadow:
        inset 0.5rem 0.5rem 1rem var(--egg-shadow),
        inset -0.5rem 0.5rem 1rem var(--egg-shadow),
        inset 0.5rem -0.5rem 1rem var(--egg-shadow),
        inset -0.5rem -0.5rem 1rem var(--egg-shadow);
}

/* inner div of top of easter egg */
/* repeating horizontal stripes background */
.easter-egg-top-inner {
    position: absolute;
    top: 0%;
    width: 4rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--easter-egg-color);
    background-image: 
        repeating-linear-gradient(
            0deg,
            var(--easter-egg-hor-stripe1),
            var(--easter-egg-hor-stripe1) 0.5rem,
            var(--easter-egg-hor-stripe2) 0.5rem,
            var(--easter-egg-hor-stripe2) 1rem
        );
}

/* inner div of top of easter egg */
/* repeating rhombus pattern */
/* 315deg top left triangle, 225deg bottom left triangle, 45deg top right triangle, 135deg bottom right triangle */
.easter-egg-top-inner:before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 4rem;
    height: 6rem;
    border-radius: 50%;
    background-color: transparent;
    background-image:
        linear-gradient(315deg, var(--easter-egg-diag-checker) 25%, transparent 25%),
        linear-gradient(225deg, var(--easter-egg-diag-checker) 25%, transparent 25%),
        linear-gradient(45deg, var(--easter-egg-diag-checker) 25%, transparent 25%),
        linear-gradient(135deg, var(--easter-egg-diag-checker) 25%, transparent 25%);
    background-position: 0rem -0.25rem, 0rem 0.25rem, 1rem -0.25rem, 1rem 0.25rem;
    background-size: 0.5rem 0.5rem;
}

/* inner div of top of easter egg */
/* repeating polka dots on transparent background */
.easter-egg-top-inner:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 4rem;
    height: 6rem;
    border-radius: 50%;
    background-color: transparent;
    background-image: 
        radial-gradient(var(--easter-egg-polkadot1) 25%, transparent 25%),
        radial-gradient(var(--easter-egg-polkadot2) 25%, transparent 25%);
    background-position: 0rem 0.25rem, 0.5rem 0.75rem;
    background-size: 1rem 1rem;
}

/* inner div of bottom of easter egg */
/* repeating horizontal stripes background */
.easter-egg-bottom-inner {
    position: absolute;
    bottom: 0%;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--easter-egg-color);
    background-image: 
        repeating-linear-gradient(
            0deg,
            var(--easter-egg-hor-stripe1),
            var(--easter-egg-hor-stripe1) 0.5rem,
            var(--easter-egg-hor-stripe2) 0.5rem,
            var(--easter-egg-hor-stripe2) 1rem
        );
}

/* inner div of bottom of easter egg */
/* repeating rhombus pattern */
/* 315deg top left triangle, 225deg bottom left triangle, 45deg top right triangle, 135deg bottom right triangle */
.easter-egg-bottom-inner:before {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: transparent;
    background-image:
        linear-gradient(315deg, var(--easter-egg-diag-checker) 25%, transparent 25%),
        linear-gradient(225deg, var(--easter-egg-diag-checker) 25%, transparent 25%),
        linear-gradient(45deg, var(--easter-egg-diag-checker) 25%, transparent 25%),
        linear-gradient(135deg, var(--easter-egg-diag-checker) 25%, transparent 25%);
    background-position: 0rem -0.25rem, 0rem 0.25rem, 1rem -0.25rem, 1rem 0.25rem;
    background-size: 0.5rem 0.5rem;
}

/* inner div of bottom of easter egg */
/* repeating polka dots on transparent background */
.easter-egg-bottom-inner:after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: transparent;
    background-image: 
        radial-gradient(var(--easter-egg-polkadot1) 25%, transparent 25%),
        radial-gradient(var(--easter-egg-polkadot2) 25%, transparent 25%);
    background-position: 0rem 0.25rem, 0.5rem 0.75rem;
    background-size: 1rem 1rem;
}

/* ANIMATIONS */

/* in default dark theme this animates the orange glow for sun */
#theme-toggle:hover:before {
    animation-name: sun-glow;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* beating hex code heart */
.heartbeat {
    animation-name: heartbeat;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/* eyeroll for eyeball */
.eyeroll-eyeball {
    animation-name: eyeroll-eyeball;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

/* eyeroll for human eye */
.eyeroll-human-eye {
    animation-name: eyeroll-human-eye;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

/* linear rotate element 22.5deg 0.125s nonstop */
.shake {
    animation-name: shake;
    animation-duration: 0.125s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* linear change bg color red-orange-yellow-orange 2s nonstop */
.warm {
    animation-name: warm;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* KEYFRAMES */

/* changes box-shadow blur radius and spread radius */
/* box-shadow: offset-x offset-y blur-radius spread-radius color, inset offset-x offset-y color */
@keyframes sun-glow {
    0%, 100% {
        box-shadow: 0rem 0rem 0.5rem 0.125rem var(--theme-toggle-shadow);
    }
    50% {
        box-shadow: 0rem 0rem 0.75rem 0.125rem var(--theme-toggle-shadow);
    }
}

/* move iris with pupil in it up and back down by change margin-top */
@keyframes eyeroll-eyeball {
    0%, 10%, 60%, 100% {
        margin-top: 25%;
    }
    25%, 50% {
        margin-top: -50%;
    }
}

/* move iris with pupil in it up and back down by translate x and y */
@keyframes eyeroll-human-eye {
    0%, 10%, 60%, 100% {
        transform: translate(0%, 0%);
    }
    25%, 50% {
        transform: translate(-100%, -100%);
    }
}

/* change font-size */
@keyframes heartbeat {
    0%, 100% {
        font-size: 4rem;
    }
    25%, 75% {
        font-size: 3rem;
    }
    50% {
        font-size: 4rem;
    }
}

/* 0deg 22.5deg 0deg -22.5deg 0deg */
@keyframes shake {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(22.5deg);
    }
    75% {
        transform: rotate(-22.5deg);
    }
}

/* change bg color red-orange-yellow-orange */
@keyframes warm {
    0%, 100% {
        background-color: var(--red);
    }
    25% {
        background-color: var(--orange);
    }
    50% {
        background-color: var(--yellow);
    }
    75% {
        background-color: var(--orange);
    }
}