/* styling that affects everything, declare variables here to have global scope */
:root {
    /* text */
    --font-family: 'Gaegu', cursive;

    /* dark theme default colors */
    --background-color: #202020;
    --color: #BBBBBB;
    --egg-color: #AEAEAE;
}

/* light theme colors */
[data-theme="daytime"] {
    --background-color: #DDDDDD;
    --color: #080808;
    --egg-color: #00FF00;
}

/* body styling */
body {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98vw;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--color);
}

main {
    width: inherit;
}

/* centers text and items */
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* styling for full-screen checkbox */
#click-for-it {
    height: 100%;
    width: 100%;
    border: none;
    opacity: 0;
    position: fixed;
    z-index: 42;
    background-color: #666666;
}

/* operating instructions styling */
#operating-instructions {
    position: fixed;
    width: 100%;
    z-index: 0;
    font-weight: bold;
}

/* eggs container styling */
#basket {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border: none;
}

/* EGG */

/* egg div styling */
.egg {
    background: none;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

/* top of egg styling */
.egg-top {
    width: 4rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

/* top left of egg styling */
.egg-top-l {
    width: 50%;
    height: 100%;
    background-color: var(--egg-color);
    border-top-left-radius: 100%;
}

/* top right of egg styling */
.egg-top-r {
    width: 50%;
    height: 100%;
    background-color: var(--egg-color);
    border-top-right-radius: 100%;
}

/* bottom of egg styling */
.egg-bottom {
    width: 4rem;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

/* bottom left of egg styling */
.egg-bottom-l {
    width: 50%;
    height: 100%;
    background-color: var(--egg-color);
    border-bottom-left-radius: 100%;
}

/* bottom right of egg styling */
.egg-bottom-r {
    width: 50%;
    height: 100%;
    background-color: var(--egg-color);
    border-bottom-right-radius: 100%;
}

/* HEART */

/* ascii heart */
.ascii-heart::before {
    content: '\2665';
    color: red;
    font-size: 5rem;
  }