/* styling that affects everything, declare variables here to have global scope */
:root {
    /* text */
    --font-family: 'Gaegu', cursive;

    /* colors */
    --black: #000000;
    --darkest-gray: #090909;
    --darker-gray: #080808;
    --dark-gray: #202020;
    --gray: #888888;
    --light-gray: #BBBBBB;
    --lighter-gray: #DDDDDD;
    --lightest-gray: #EEEEEE; 
    --white: #FFFFFF;
    --ivory: #FFFFF0;
    --cream: #FFFDD0;
    --beige: #F5F5DC;
    --red: #FF0000;
    --orange: #FFA500;
    --yellow: #FFFF00;
    --green: #00FF00;
    --cyan: #00FFFF;
    --blue: #0000FF;
    --indigo: #A500FF;
    --purple: #FF00FF;
    --lavender: #FFA5FF;
    --egg: #FACED0;

    /* dark theme default colors */
    --background-color: var(--dark-gray);
    --color: var(--lighter-gray);
    --egg-glow-color: var(--white);
    --egg-color: var(--egg);
    --heart-color: var(--red);
}

/* light theme colors */
[data-theme="daytime"] {
    --background-color: var(--med-gray);
    --color: var(--near-black);
    --egg-glow-color: var(--white);
    --egg-color: #00FF00;
    --heart-color: #FF0000;
}

/* body styling */
body {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98vw;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--color);
}

main {
    width: inherit;
}

/* centers text and items */
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* takes up whole screen like table column */
/* choices is one row at top */
/* button is one row at bottom that takes up remaining space */
#entire-screen {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin: 0rem;
    display: table-column;
    z-index: 42;
}

/* style the operating instructions */
#operating-instructions {
    font-weight: bold;
    display: table-row;
    width: 100%;
    font-size: 2rem;
    background-color: var(--darkest-gray);
}

/* hide the radio buttons */
#input-eye, #input-heart, #input-egg {
    width: 0rem;
    height: 0rem;
    margin: 0rem;
}

/* style the radio input labels */
#choices-radio label {}

/* styling for full-screen button */
#click-for-eye-heart-egg {
    display: table-row;
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;
    opacity: 0;
}

/* eggs container styling */
#basket {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border: none;
    margin-top: 3rem;
}

/* EGG */

/* egg div styling */
.egg-box {
    background: none;
    border: none;
    box-shadow: none;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

/* outer div of top of egg */
.egg-top-outer {
    width: 4rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

/* outer div of bottom of egg */
.egg-bottom-outer {
    width: 4rem;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

/* inner div of top of egg */
/* box-shadow order: top left, top right, bottom right, bottom left */
.egg-top-inner {
    width: 4rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--egg-glow-color);
    box-shadow:
        inset 0.5rem 0.5rem 1rem var(--egg-color),
        inset -0.5rem 0.5rem 1rem var(--egg-color),
        inset 0.5rem -0.5rem 1rem var(--egg-color),
        inset -0.5rem -0.5rem 1rem var(--egg-color);
}

/* inner div of bottom of egg */
/* box-shadow order: top left, top right, bottom right, bottom left */
.egg-bottom-inner {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--egg-glow-color);
    margin-top: -2rem;
    box-shadow:
        inset 0.5rem 0.5rem 1rem var(--egg-color),
        inset -0.5rem 0.5rem 1rem var(--egg-color),
        inset 0.5rem -0.5rem 1rem var(--egg-color),
        inset -0.5rem -0.5rem 1rem var(--egg-color);
}

/* HEART */

/* heart div styling */
.heart-box {
    background: none;
    border: none;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    z-index: -1;
}

/* box to hold square and circles that make up heart */
.tilted-heart {
    transform: rotate(45deg);
    position: absolute;
    height: 4.5rem;
    width: 4.5rem;
    margin-top: -0.625rem;
    margin-left: 0.25rem;
}

/* first circle of heart */
.heart-circle-one {
    width: 3rem;
    height: 3rem;
    background-color: var(--heart-color);
    border-radius: 50%;
    position: absolute;
    right: 0rem;
    top: 0rem;
}

/* second circle of heart */
.heart-circle-two {
    width: 3rem;
    height: 3rem;
    background-color: var(--heart-color);
    border-radius: 50%;
    position: absolute;
    left: 0rem;
    bottom: 0rem;
}

/* square of heart */
.heart-square {
    width: 3rem;
    height: 3rem;
    background-color: var(--heart-color);
    position: absolute;
    right: 0rem;
    bottom: 0rem;
}

/* the CSS heart from tutorial */
/* the tilted square for bottom of heart */
.tutorial-heart {
    transform: rotate(45deg);
    background-color: var(--heart-color);
    width: 3rem;
    height: 3rem;
}

/* the circles for top of heart */
.tutorial-heart::before,
.tutorial-heart::after {
    content: '';
    background-color: var(--heart-color);
    width: 3rem;
    height: 3rem;
    position: absolute;
    border-radius: 50%;
}

/* top left circle of heart */
.tutorial-heart::before {
    top: 0;
    right: 1.5rem;
}

/* top right circle of heart*/
.tutorial-heart::after {
    top: -1.5rem;
    left: 0;
}

/* ascii heart */
.ascii-heart::before {
    content: '\2665';
    color: var(--heart-color);
    font-size: 5rem;
}

/* ANIMATIONS */

/* scales down to 98% */
.contractions {
    animation-name: contractions;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* linear change bg color red-orange-yellow-orange 2s nonstop */
.warm {
    animation-name: warm;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* linear rotate element 22.5deg 0.125s nonstop */
.wobble {
    animation-name: wobble;
    animation-duration: 0.125s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* KEYFRAMES */

/* scale down to 98% */
@keyframes contractions {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
}

/* change bg color red-orange-yellow-orange */
@keyframes warm {
    0%, 100% {
        background-color: var(--red);
    }
    25% {
        background-color: var(--orange);
    }
    50% {
        background-color: var(--yellow);
    }
    75% {
        background-color: var(--orange);
    }
}

/* 0deg 22.5deg 0deg -22.5deg 0deg */
@keyframes wobble {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(22.5deg);
    }
    75% {
        transform: rotate(-22.5deg);
    }
}